<mat-card class="card-filter-container">
  <mat-form-field appearance="outline" class="filter-item filter-item-category">
    <mat-label class="category-title">Category</mat-label>
    <mat-select
      [value]="selectedCategory()"
      (selectionChange)="selectionChangeCategory($event)"
    >
      <mat-option [value]="'all'">all</mat-option>
      @for (option of categoriesList(); track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-item filter-item-limit">
    <mat-label>Limit</mat-label>
    <mat-select
      [value]="selectedLimit()"
      (selectionChange)="selectionChangeLimit($event)"
    >
      <mat-option [value]="5">5</mat-option>
      @for (option of limitList; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-card>
